.footer {
  padding: 1px 120px ;
  background-size: cover;
  background-color: var(--primary);
  color: #fff;
}

.footer__top {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 60px; 
}

.footer__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer__logo {
  width: 150px;
}

.footer__follow {
  font-size: 16px;
  margin-bottom: 12px;
  font-family: var(--font-sans);
}

.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__right .footer__link {
  display: block;
  margin-bottom: 14px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-sans);
  transition: color 0.25s ease-in-out;
  color: #fff;
}

.footer__link:hover {
  color: var(--secondary);
}

.footer__right .footer__title {
  margin-bottom: 18px;
}

.footer__middle {
  max-width: 900px;
  margin: 0 auto 60px;
  text-align: center;
}

.footer__title {
  font-family: var(--font-serif);
  font-size: 20px;
  font-weight: 700;
}

.footer__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.55;
  margin-bottom: 12px;
  font-family: var(--font-sans);
  opacity: 0.9;
}

.footer__bottom {
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
  font-family: var(--font-sans);
  opacity: 1;
}