:root{
  --primary: #175688;
  --secondary: #F8F1E8;
  --text-dark: #0D314C;
  --neutral-light: #FBF8F3;
  --neutral-dark: #0A1F34;
  --font-serif: "Kepler Std", serif;
  --font-sans: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}

h1, h2 {
  font-family: var(--font-serif);
  color: var(--primary);
}

.btn {
  font-family: var(--font-sans);
  padding: 0.7rem 1rem;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  box-shadow: rgba(16, 16, 17, 0.6) 0px 6px 20px 0px;
  color: #000000c7;
  border: 0;
  outline: solid 3px var(--primary);
}

.btn:hover {
  transform: translateY(-2px);
  color: var(--primary);
  box-shadow: rgba(16, 16, 17, 0.6) 0px 6px 20px 0px;
  cursor: pointer;
  outline: solid 3px var(--primary);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

li::marker {
  color: var(--primary);
}