:root{
  --primary: #175688;
  --secondary: #F8F1E8;
  --text-dark: #0D314C;
  --neutral-light: #FBF8F3;
  --neutral-dark: #0A1F34;

  --font-serif: "Kepler Std", serif;
  --font-sans: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  color: var(--primary);
}

h1, h2 {
  font-family: var(--font-serif);
  color: var(--primary);
}



.btn {
  font-family: var(--font-sans);
  padding: 0.7rem 1.5rem;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--primary);
  color: var(--secondary);
  border: 2px solid var(--primary);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.btn:hover {
  transform: translateY(-2px);
  background-color: transparent;
  color: var(--primary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}